:root {
    --primary: beige;
    --secondary: lightblue;
    --main:aliceblue;
    --borderstyle: 5px solid gray;
    --titlebackground: lightgray;
}

body {
    display: inline-block;
    background-color: var(--main);
}


header {
    display: flex;
    background-color: var(--primary);
    justify-content: space-between;
    width: 100%;
}

header h1 {
    margin-left: 10px;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li {
    justify-content: space-around;
    margin-right: 25px;
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    column-width: auto;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    margin-right: 50px;
    background-color: var(--secondary);
    border-radius: 30px;
    
}

.intro div {
    content: url('../images/T03SVAX0QSD-U043Q33P1EU-9762b0499c2b-512.jpg');
    height: 250px;
    width: 250px;
    margin: 3%;
    border: var(--borderstyle);
    border-radius: 80px;
}
.ab {
    display: flex;
    width: 40%;
    align-items: center;
}

.ab h2 {
    padding-right:30px;
    border-right: 3px solid navy;
    height: 130px;
    display: flex;
    align-items: center;
}
.ab p {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 70%;
}

.works {
    margin: auto;
    display: inline-flex;
    padding: 10px;
    background-color: var(--primary);
    border: var(--borderstyle);
}

.works h2 {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.works h2:hover {
    cursor: pointer;
    background-color: gold;
    transition: ease-in-out 2s;
}

.c {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border-left: var(--borderstyle);
}

.card {
    width: 265px;
    height: 100px;
    border:var(--borderstyle);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;
    justify-content: space-between;
}

.card:hover {
   box-shadow: 0 0 30px;
   transition: ease-in-out 1s;
   cursor: pointer;
}

.card h2 {
    width: 30%;
    display: flex;
    align-items: center;
    background-color: var(--titlebackground);
    border:var(--borderstyle);
    border-left: 0px;
}

#one {
    background-image: url('../images/download-1.jpg') ;
}

#two {
    background-image: url('../images/download-2.jpg');
}

#three {
    background-image: url('../images/download-3.jpg');
}

#four {
    background-image: url('../images/images.jpg');
}

.big {
    flex-grow: 4;
    width: 400px;
    height: 400px;
    margin: 10px;
    border: var(--borderstyle);
    background-image: url('../images/download.jpg') ;
}

.big:hover {
    box-shadow: 0 0 30px;
    transition: ease-in-out 1s;
    cursor: pointer;
 }

.big h2 {
    display: flex;
    margin-top: 30%;
    width: 40%;
    align-items: center;
    background-color: var(--titlebackground);
    border: var(--borderstyle);
    border-left: 0px;
}

.contact {
    display: inline-flex;
    float: right;
    margin: 30px;
    font-size: 20px;
    background-color: var(--secondary);
    padding: 5%;
    border-radius: 30px;
}
.contact h3 {
    font-size: x-large;
}

.contact ul li {
    display: inline;
    margin-left: 50px;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: beige;
}

@media screen and (max-width: 992px) {
    .works {
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        transition: all 2s ease-in-out;
    }
    main  {
        display: flex;
        width: auto;
        transition: ease all .5s;
    }
    .contact ul li {
        display: flex;
        flex-direction: column;
    }

    .intro {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px) {
    .card{
        width: 100%;
        transition: ease all .5s;
    }
    main {
        width: 100%;
        transition: all 2s ease-in-out 0;
    }
    .works {
        display: flex;
        flex-wrap: wrap;
    }


    main  {
        display: flex;
        flex-wrap: wrap;
        transition: ease all .5s;
    }

    .ab {
        display: flex;
        width: auto;
        margin: 2%;
    }

}

